<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
               
     <context:annotation-config/>
     <context:component-scan base-package="service/"/>
     <context:component-scan base-package="persistence"/>
     <context:component-scan base-package="mapper"/>
     <context:component-scan base-package="ui.servlets/"/>
     

	 <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
     	<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
     	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/computer-database-db?"/>
     	<property name="dataSourceProperties">
     		<props>
     			<prop key="url">jdbc:mysql://localhost:3306/computer-database-db?</prop>
	            <prop key="user">admincdb</prop>
	            <prop key="password">qwerty1234</prop>
	        </props>
	    </property>
	</bean>
</beans>